@import "tailwindcss";

@theme {
  /* Light Theme */
  --color-primary: #8E4D30;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #FFDBCD;
  --color-on-primary-container: #71361B;
  --color-inverse-primary: #FFFFB598;
  --color-secondary: #77574B;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #FFE0C8;
  --color-on-secondary-container: #5D4034;
  --color-tertiary: #675F30;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #F0E3A8;
  --color-on-tertiary-container: #4F471B;
  --color-background: #FFF8F6;
  --color-on-background: #231A16;
  --color-surface: #FFF8F6;
  --color-on-surface: #231A16;
  --color-surface-variant: #F5DED6;
  --color-on-surface-variant: #53433E;
  --color-outline: #85736D;
  --color-outline-variant: #D8C2BA;
  --color-surface-container: #FCEAE4;
  --color-surface-container-low: #FFF1EC;
  --color-surface-container-high: #F6E4DE;
  --color-surface-container-highest: #F1DFD9;

  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-on-background antialiased overflow-x-hidden;
    font-family: var(--font-montserrat);
  }
}

@keyframes float {
  0%, 100% { transform: translateY(0) rotate(var(--rotation, 0deg)); }
  50% { transform: translateY(-10px) rotate(calc(var(--rotation, 0deg) + 2deg)); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
